.dot {
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }

@media only screen and (max-height: 780px) {
    .dot{
        height: 100px;
        width: 100px;
    }
}

dt {
    font-weight: bold;
}

.w3-padding-custom {
    padding: 5px;
}